.checkout
  .media
    %a.fancybox{href: url_for_photo(checkout.photo_name), class: "pull-left"}
      %img{src: url_for_photo(checkout.photo_name), class: "media-object"}
    .media-body
      .well
        %strong=checkout.name
        checked out at
        %strong=checkout.checkout_at.strftime("%m/%d/%Y at %I:%M%p")
        and
        -if checkout.checkout_msg == ""
          %blockquote
            %strong didn't say where they were going!
        -else
          said
          %blockquote= checkout.checkout_msg
        %strong=checkout.checkin_at.strftime("Earlier on %m/%d/%Y at %I:%M%p they said")
        /they said
        -if checkout.checkin_msg == ""
          %strong nothing!
        -else
          %blockquote= checkout.checkin_msg

