!!!
%html
  %head
    %title Hackerspace Checkin
    %script{src: "//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"}
    %script{src: "/js/bootstrap.min.js"}
    %script{src: "/js/alertify.min.js"}
    %script{src: "/js/photobooth.min.js"}
    %script{src: "/js/app.js"}
    %link{rel: "stylesheet", href: "css/alertify.core.css"}
    %link{rel: "stylesheet", href: "css/alertify.bootstrap.css"}
    %link{rel: "stylesheet", href: "css/bootstrap.css"}
    %link{rel: "stylesheet", href: "css/app.css"}
    %body
      .main-container
        %h1 Sign in to Gainesville Hackerspace

        .checkin
          .camera-container
            .camera
              #webcam{ style: "width: 400px; height: 300px;" }
              #gallery.hide
              .camera-actions
                %a.btn.btn-info#take-photo-btn{ href: "#", data: { photo: "true"}}
                  Take my picture


          .checkin-info
            %input#checkin-name{type: "text", name: "username", placeholder: "Your name..."}
            %br
            %input#checkin-msg{type: "text", name: "checkin_msg", placeholder: "A quick message..."}
            %br
            %a.btn.btn-success#checkin-btn{href: "#"}
              Check in
        .row-fluid
          .span6
            %h3 Recent Checkins
            #check-ins
              -checkins.each do |checkin|
                =haml :checkin, locals: {checkin: checkin}
          .span6
            %h3 Recent Checkouts
            #check-outs
              -checkouts.each do |checkout|
                =haml :checkout, locals: {checkout: checkout}

