.main-container {
  width: 70%;
  padding: 2% 15%;
}

.main-container > h1 {
  width: 100%;
  text-align: center;
  padding-bottom: 1%;
}

.camera-container {
  width: 100%;
  margin: 0 auto;
}

.camera-actions {
  width: 100%;
}

#take-photo-btn {
  width: 376px;
  height: 30px;
  margin: 0 auto;
  display: block;
  font-size: 20px;
  line-height: 28px;
}

.checkin-info {
  padding: 4% 27%;
}

.checkin-info > input {
  width: 94%;
  padding: 3%;
  border-radius: 5px;
}

#checkin-btn {
  font-size: 20px;
  line-height: 28px;
  width: 94%;
  height: 30px;
}

.media-object {
  max-height: 64px;
  max-width: 64px;
}

#webcam, #gallery {
  width: 400px;
  height: 300px;
  margin: 0 auto;
}
